// DESCRIPTION :: START

.description
  .description__row.description__row--top
    .description__col
      p.description__title!= "Team description"
      a.description__edit(href="#")

    .description__col
      p.description__text.text!= "Konsulenter fra Computas og Acando som jobbet med prosjektet Tilsyn ferdig på stedet hos Mattilsynet."

  .description__row.description__row--middle
    .description__col
      p.description__title!= "Members"
      a.description__plus(href="#")
        != "Missing anyone?"
        i

  .description__row.description__row--bottom
    .description__block
      .description__block-left
        .description__block-box
      .description__block-right
        .description__block-wrap
          p.description__block-name!= "Simon Isaksen"
          p.description__block-pos!= "Acando"
        .description__block-line
    .description__block
      .description__block-left
        .description__block-box
      .description__block-right
        .description__block-wrap
          p.description__block-name!= "Simon Isaksen"
          p.description__block-pos!= "Acando"
        .description__block-line
    .description__block
      .description__block-left
        .description__block-box
      .description__block-right
        .description__block-wrap
          p.description__block-name!= "Simon Isaksen"
          p.description__block-pos!= "Acando"
        .description__block-line
    .description__block
      .description__block-left
        .description__block-box
      .description__block-right
        .description__block-wrap
          p.description__block-name!= "Simon Isaksen"
          p.description__block-pos!= "Acando"
        .description__block-line
    .description__block
      .description__block-left
        .description__block-box
      .description__block-right
        .description__block-wrap
          p.description__block-name!= "Simon Isaksen"
          p.description__block-pos!= "Acando"
        .description__block-line
    .description__block
      .description__block-left
        .description__block-box
      .description__block-right
        .description__block-wrap
          p.description__block-name!= "Simon Isaksen"
          p.description__block-pos!= "Acando"
        .description__block-line



// DESCRIPTION :: END