// MORE :: START

.more
 .more__row
   p.more__title.subtitle!= "Teams"
   a.more__link(href="#")
    != "Add more teams"
    i.more__icon

 .more__row.more__row--list
   .more__block
     p.more__block-title!= "Tilsyn ferdig på stedet - Mattilsynet"
     p.more__block-subtitle!= "8 team members"
     .more__block-wrap
      p.more__block-link!= "<strong>Team link:</strong> <a href='#'>thttps://www.dreamteams.io/reg/?teamname=team-stian&secret=8Ei8Ldalfael</a>"
      a.more__block-btn(href="#" copy-js)!= "Copy link"

   .more__block
     p.more__block-title!= "Tilsyn ferdig på stedet - Mattilsynet"
     p.more__block-subtitle!= "8 team members"
     .more__block-wrap
      p.more__block-link!= "<strong>Team link:</strong> <a href='#'>thttps://www.dreamteams.io/reg/?teamname=team-stian&secret=8Ei8L</a>"
      a.more__block-btn(href="#" copy-js)!= "Copy link"

   .more__block
     p.more__block-title!= "Tilsyn ferdig på stedet - Mattilsynet"
     p.more__block-subtitle!= "8 team members"
     .more__block-wrap
      p.more__block-link!= "<strong>Team link:</strong> <a href='#'>thttps://www.dreamteams.io/reg/?teamname=team-stian&secret=8Ei8Ldalfael</a>"
      a.more__block-btn(href="#" copy-js)!= "Copy link"

   .more__block
     p.more__block-title!= "Tilsyn ferdig på stedet - Mattilsynet"
     p.more__block-subtitle!= "8 team members"
     .more__block-wrap
      p.more__block-link!= "<strong>Team link:</strong> <a href='#'>thttps://www.dreamteams.io/reg/?teamname=team-stian&secret=8Ei8L</a>"
      a.more__block-btn(href="#" copy-js)!= "Copy link"

   .more__block
     p.more__block-title!= "Tilsyn ferdig på stedet - Mattilsynet"
     p.more__block-subtitle!= "8 team members"
     .more__block-wrap
      p.more__block-link!= "<strong>Team link:</strong> <a href='#'>thttps://www.dreamteams.io/reg/?teamname=team-stian&secret=8Ei8Ldalfael</a>"
      a.more__block-btn(href="#" copy-js)!= "Copy link"

   .more__block
     p.more__block-title!= "Tilsyn ferdig på stedet - Mattilsynet"
     p.more__block-subtitle!= "8 team members"
     .more__block-wrap
      p.more__block-link!= "<strong>Team link:</strong> <a href='#'>thttps://www.dreamteams.io/reg/?teamname=team-stian&secret=8Ei8L</a>"
      a.more__block-btn(href="#" copy-js)!= "Copy link"

// MORE :: END